

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Staff Application</h1>
        <p class="lead">This is the Staff Application.</p>
    </div>
</div>


<form>
    <div class="form-group">
        <label for="DiscordName">What is your Discord Name? (Example: Cap#5605)</label>
        <textarea class="form-control" id="discordName" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="Experience">How much experience do you have?</label>
        <textarea class="form-control" id="howExperience" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="Strengths">What strengths do you offer?</label>
        <textarea class="form-control" id="offerStrengths" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="Availability">What is your availability?</label>
        <textarea class="form-control" id="yourAvailability" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="PickYou">Why should we pick you?</label>
        <textarea class="form-control" id="wePick" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>


</form>

